@page "/lobby/{lobbyId:int}"
@model LobbyModel
<html lang="zh-hans">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <title>旋刃竞技场</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #canvas {
            background: cornflowerblue;
            width: 100%;
            height: 100%;
            display: block;
        }
    </style>
</head>
<body>
    <canvas id="canvas">您的浏览器不支持Canvas元素</canvas>
    <script src="~/libs/signalr.js"></script>
    <script src="~/usermanager.js" asp-append-version="true"></script>
    <script src="~/game.js" asp-append-version="true"></script>
</body>
</html>